<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Question %><br />
    <%= f.text_area :Question %>
  </div>
  <div class="field">
    <%= f.label :Question_Type %><br />
    <%= f.number_field :Question_Type %>
  </div>
  <div class="field">
    <%= f.label :Hint %><br />
    <%= f.text_area :Hint %>
  </div>
  <div class="field">
    <%= f.label :Hint_Point %><br />
    <%= f.number_field :Hint_Point %>
  </div>
  <div class="field">
    <%= f.label :Answer %><br />
    <%= f.text_area :Answer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
