<h1>Listing assignments</h1>

<table>
  <tr>
    <th>Assignment name</th>
    <th>Start date</th>
    <th>Due date</th>
    <th>Point</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.Assignment_Name %></td>
    <td><%= assignment.Start_Date %></td>
    <td><%= assignment.Due_Date %></td>
    <td><%= assignment.Point %></td>
    <td><%= assignment.Description %></td>
    <td><%= link_to 'Show', assignment %></td>
    <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
    <td><%= link_to 'Destroy', assignment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path %>
