<%= form_for(@instructor) do |f| %>
  <% if @instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

      <ul>
      <% @instructor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :First_Name %><br />
    <%= f.text_field :First_Name %>
  </div>
  <div class="field">
    <%= f.label :Middle_Name %><br />
    <%= f.text_field :Middle_Name %>
  </div>
  <div class="field">
    <%= f.label :Last_Name %><br />
    <%= f.text_field :Last_Name %>
  </div>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :Phone %><br />
    <%= f.text_field :Phone %>
  </div>
  <div class="field">
    <%= f.label :Address %><br />
    <%= f.text_field :Address %>
  </div>
  <div class="field">
    <%= f.label :Password %><br />
    <%= f.password_field :Password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
