<h1>Assignment</h1>
<p>Chenglin's test</p>
<p><%= link_to 'student', students_path %></p>
<p><%= link_to 'instructor', instructors_path %></p>
<p><%= link_to 'course', courses_path %></p>
<p><%= link_to 'assignment', assignments_path %></p>
<p><%= link_to 'question', questions_path %></p>

