<p id="notice"><%= notice %></p>

<p>
  <b>Student id:</b>
  <%= @enrollment.Student_ID %>
</p>

<p>
  <b>Course id:</b>
  <%= @enrollment.Course_ID %>
</p>


<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
