<h1>Listing assignment_questions</h1>

<table>
  <tr>
    <th>Assignment id</th>
    <th>Question id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignment_questions.each do |assignment_question| %>
  <tr>
    <td><%= assignment_question.Assignment_ID %></td>
    <td><%= assignment_question.Question_ID %></td>
    <td><%= link_to 'Show', assignment_question %></td>
    <td><%= link_to 'Edit', edit_assignment_question_path(assignment_question) %></td>
    <td><%= link_to 'Destroy', assignment_question, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment question', new_assignment_question_path %>
