<%= form_for(@teaching) do |f| %>
  <% if @teaching.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teaching.errors.count, "error") %> prohibited this teaching from being saved:</h2>

      <ul>
      <% @teaching.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Instructor_ID %><br />
    <%= f.number_field :Instructor_ID %>
  </div>
  <div class="field">
    <%= f.label :Course_ID %><br />
    <%= f.number_field :Course_ID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
